section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section .pruebas {
    display: flex;
    gap: 2rem;
}

h1 {
    color: skyblue
}